<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Tray position') }}</label>
        <div class="controls form-inline">
            <label>{{ _('X') }}</label>
            <div class="input-append">
                <input type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.tray.x">
                <span class="add-on">mm</span>
            </div>
        </div>
        <div class="controls form-inline">
            <label>{{ _('Y') }}</label>
            <div class="input-append">
                <input type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.tray.y">
                <span class="add-on">mm</span>
            </div>
        </div>
        <div class="controls form-inline">
            <label>{{ _('Z') }}</label>
            <div class="input-append">
                <input type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.tray.z">
                <span class="add-on">mm</span>
            </div>
        </div>
    </div>


    <div class="control-group">
        <label class="control-label">{{ _('Tray dimensions') }}</label>
        <div class="controls form-inline">
            <label class="control-label">{{ _('Rows') }}</label>
            <div class="input-append">
                <input type="number" step="1.0" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.tray.rows">
            </div>
        </div>
        <div class="controls form-inline">
            <label class="control-label">{{ _('Columns') }}</label>
            <div class="input-append">
                <input type="number" step="1.0" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.tray.columns">
            </div>
        </div>
        <div class="controls form-inline">
            <label class="control-label">{{ _('Box size') }}</label>
            <div class="input-append">
                <input type="number" step="1.0" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.tray.boxsize">
                <span class="add-on">mm</span>
            </div>
        </div>
        <div class="controls form-inline">
            <label class="control-label">{{ _('Rim size') }}</label>
            <div class="input-append">
                <input type="number" step="1.0" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.tray.rimsize">
                <span class="add-on">mm</span>
            </div>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">{{ _('Head Camera Offset') }}</label>
        <div class="controls form-inline">
            <label>X:</label>
            <div class="input-append">
                <input type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.camera.head.offset_x">
                <span class="add-on">mm</span>
            </div>
            <label>Y:</label>
            <div class="input-append">
                <input type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.camera.head.offset_y">
                <span class="add-on">mm</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Head Camera focus dist') }}</label>
        <div class="controls form-inline">
            <label>Z:</label>
            <div class="input-append">
                <input type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.camera.head.offset_z">
                <span class="add-on">mm</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Bed Camera Offset') }}</label>
        <div class="controls form-inline">
            <label>X:</label>
            <div class="input-append">
                <input type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.camera.bed.offset_x">
                <span class="add-on">mm</span>
            </div>
            <label>Y:</label>
            <div class="input-append">
                <input type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.camera.bed.offset_y">
                <span class="add-on">mm</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Bed Camera focus dist') }}</label>
        <div class="controls form-inline">
            <label>Z:</label>
            <div class="input-append">
                <input type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.camera.bed.offset_z">
                <span class="add-on">mm</span>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Vacuum Nozzle Offset') }}</label>
        <div class="controls form-inline">
            <label>X:</label>
            <div class="input-append">
                <input type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.vacuum.offset_x">
                <span class="add-on">mm</span>
            </div>
            <label>Y:</label>
            <div class="input-append">
                <input type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.vacuum.offset_y">
                <span class="add-on">mm</span>
            </div>
        </div>
    </div>
</form>