<form class="form-horizontal">
    <div class="accordion" id="accordion">


        <!-- General settings -->
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data- parent="#accordion" href="#general-settings"><h4>{{ _('General') }}</h4></a>
            </div>
            <div id="general-settings" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="row-fluid">
                        <div class="span4"><h4>{{ _('Calibration') }}</h4></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span11">This G-code will be executed between toolchanges in the calibration wizard.
                                Use to move to a safe position to avoid collisions before the tool is moved to the camera in the next step, typically somewhere in the center of the printbed.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span4">{{ _('Toolchange G-code') }}</div>
                                <div class="span7">
                                    <div class="input-append">
                                        <input type="text" class="input-xlarge" data-bind="value: settings.plugins.OctoPNP.calibration.toolchange_gcode">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span4"><h4>{{ _('Logging') }}</h4></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span11">If enabled, ALL images recorded by cameras will also be logged to "Image-path" with the current timestamp as appendix.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span4">{{ _('Image logging') }}</div>
                                <div class="span7">
                                    <div class="input-append">
                                        <input type="checkbox" data-bind="checked: settings.plugins.OctoPNP.camera.image_logging">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Tray settings -->
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#tray-settings"><h4>{{ _('Tray') }}</h4></a>
            </div>
            <div id="tray-settings" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="row-fluid">
                        <div class="span4"><h4>{{ _('Tray type') }}</h4></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">Type of the tray. This can be :
                            <ul>
                                <li>Box: a simple tray with boxes, subdivided by a color-coded rim. All boxes have the same size. Components are located inside a box via camera</li>
                                <li>Feeder: a belt feeder system. Each row has a number and holds one SMD-strip. Components are assigned to individual rows.</li>
                                <li>Nut-Box: a box tray for Nuts</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <label class="control-label" for="tray.type">Tray type</label>
                        <div class="controls">
                            <div class="input-append">
                                <select id="tray.type" data-bind="value: settings.plugins.OctoPNP.tray.type, options: tray_available_types, optionsText: 'name', optionsValue: 'key'">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4"><h4>{{ _('Tray dimension') }}</h4></div>
                    </div>
                    <div data-bind="visible: settings.plugins.OctoPNP.tray.type() == 'BOX'">
                        <div class="row-fluid">
                            <label class="control-label" for="tray.box.rows">Rows</label>
                            <div class="controls">
                                <input id="tray.box.rows" type="number" step="1" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.tray.box.rows">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label" for="tray.box.columns">Columns</label>
                            <div class="controls">
                                <input id="tray.box.columns" type="number" step="1" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.tray.box.columns">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label" for="tray.box.boxsize">Box size</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input id="tray.box.boxsize" type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.tray.box.boxsize">
                                    <span class="add-on">mm</span>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label" for="tray.box.rimsize">Rim size</label>
                            <div class="controls">
                                 <div class="input-append">
                                    <input id="tray.box.rimsize" type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.tray.box.rimsize">
                                    <span class="add-on">mm</span>
                                 </div>
                            </div>
                        </div>
                    </div>
                    <div data-bind="visible: settings.plugins.OctoPNP.tray.type() == 'FEEDER'">
                        <div class="row-fluid">
                            <table id="tray.feedertable" class="table table-bordered table-hover" style="">
                                <tbody><tr>
                                    <th>Row</th>
                                    <th>Row width</th>
                                    <th>Component spacing</th>
                                    <th>Orientation</th>
                                    <th>Action</th>
                                </tr></tbody>
                                <tbody>
                                    <!-- ko foreach: settings.plugins.OctoPNP.tray.feeder.feederconfiguration -->
                                    <tr>
                                        <td data-bind="text: $index"></td>
                                        <td>
                                            <div class="input-append">
                                                <input type="number" class="input-mini" data-bind="value: $data.width">
                                                <span class="add-on">mm</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-append">
                                                <input type="number" class="input-mini" data-bind="value: $data.spacing">
                                                <span class="add-on">mm</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-append">
                                                <input type="number" step="90" class="input-mini" data-bind="value: $data.rotation">
                                                <span class="add-on">°</span>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn" title="Remove Row" data-bind="click: $parent.trayFeederRemoveRow"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                    <!-- /ko -->
                                </tbody>
                            </table>
                        </div>
                        <div class="row-fluid">
                            <button data-bind="click: trayFeederAddRow">Add Row</button>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label" for="tray.feeder.row_clearance">Clearance between rows</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input id="tray.feeder.row_clearance" type="number" step="0.1" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.tray.feeder.row_clearance">
                                    <span class="add-on">mm</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-bind="visible: settings.plugins.OctoPNP.tray.type() == 'NUT'">
                        <div calss="row-fluid">
                            <label calss="control-label" for="tray.nut.rows">Rows</label>
                            <div calss="controls">
                                <input id="tray.nut.rows" type="number" step="1" calss="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.tray.nut.rows">
                            </div>
                        </div>
                        <div calss="row-fluid">
                            <label calss="control-label" for="tray.nut.colums">Columns</label>
                            <div calss="controls">
                                <input id="tray.nut.columns" type="number" step="1" calss="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.tray.nut.columns">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label" for="tray.nut.centerToCenter">Slot Center to Center distance</label>
                            <div class="controls">
                                <div class="input-append">
                                    <input id="tray.nut.centerToCenter" type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.tray.nut.centerToCenter">
                                    <span class="add-on">mm</span>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label" for="tray.nut.partRotationFlat">Tray part rotation flat</label>
                            <div class="controls">
                                <input id="tray.nut.partRotationFlat" type="number" step="1" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.tray.nut.partRotationFlat">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label" for="tray.nut.partRotationUpright">Tray part rotation upright</label>
                            <div class="controls">
                                <input id="tray.nut.partRotationUpright" type="number" step="1" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.tray.nut.partRotationUpright">
                            </div>
                        </div>
                        <div class="row-fluid">
                            <label class="control-label" for="tray.nut.boxconfiguration">Tray configuration (JSON array)</label>
                            <div class="controls">
                                <input id="tray.nut.boxconfiguration" type="text" class="input-big" data-bind="value: settings.plugins.OctoPNP.tray.nut.boxconfiguration">
                            </div>
                        </div>
                        <button data-toggle="collapse" data-target="#config-example" class="btn btn-primary">Show example tray configuration</button>
                        <div id="config-example" class="collapse">
                            <pre>
[
  {
    "thread_size": 3,
    "nut": "hexnut",
    "slot_orientation" : "flat"
  },
  {
    "thread_size": 3,
    "nut": "hexnut",
    "slot_orientation" : "upright"
  },
  {
    "thread_size": 3,
    "nut": "squarenut",
    "slot_orientation" : "flat"
  },
  ...
]
                            </pre>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4"><h4>{{ _('Tray position') }}</h4></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">Position of the lower left corner at the rim's outer perimeter. Note that the printer will move to the tray after enabling the vacuum nozzle, so the position must be relative to this nozzle if a firmware-offset is used.
                        </div>
                    </div>
                    <div class="row-fluid">
                        <label class="control-label" for="tray.position.x">X</label>
                        <div class="controls">
                            <div class="input-append">
                                <input id="tray.position.x" type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.tray.x">
                                <span class="add-on">mm</span>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <label class="control-label" for="tray.position.y">Y</label>
                        <div class="controls">
                            <div class="input-append">
                                <input id="tray.position.y" type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.tray.y">
                                <span class="add-on">mm</span>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <label class="control-label" for="tray.position.z">Z</label>
                        <div class="controls">
                            <div class="input-append">
                                <input id="tray.position.z" type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.tray.z">
                                <span class="add-on">mm</span>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <label class="control-label" for="tray.position.axis">Axis</label>
                        <div class="controls">
                            <div class="input-append">
                                <input id="tray.position.axis" type="text" class="input-mini" data-bind="value: settings.plugins.OctoPNP.tray.axis">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Camera settings -->
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#camera-settings"><h4>{{ _('Cameras') }}</h4></a>
            </div>
            <div id="camera-settings" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="row-fluid">
                        <div class="span12"><strong>Head camera</strong></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span3">{{ _('Camera position') }}</div>
                                <div class="span1">{{ _('X') }}:</div>
                                <div class="span3">
                                    <div class="input-append">
                                        <input type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.camera.head.x">
                                        <span class="add-on">mm</span>
                                    </div>
                                </div>
                                <div class="span1">{{ _('Y') }}:</div>
                                <div class="span3">
                                    <div class="input-append">
                                        <input type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.camera.head.y">
                                        <span class="add-on">mm</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span4">{{ _('Focus distance') }}</div>
                                <div class="span4">
                                    <div class="input-append">
                                        <input type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.camera.head.z">
                                        <span class="add-on">mm</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span4">{{ _('Tool Number') }}</div>
                                <div class="span4">
                                    <div class="input-append">
                                        <input type="number" step="1" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.camera.head.tool_nr">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span3">{{ _('Pixel/MM') }}</div>
                                <div class="span1">{{ _('X') }}:</div>
                                <div class="span3">
                                    <div class="input-append">
                                        <input type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.camera.head.pxPerMM.x">
                                    </div>
                                </div>
                                <div class="span1">{{ _('Y') }}:</div>
                                <div class="span3">
                                    <div class="input-append">
                                        <input type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.camera.head.pxPerMM.y">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span4">{{ _('Binarization threshold') }}</div>
                                <div class="span7">
                                    <div class="input-append">
                                        <input type="number" step="1.0" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.camera.head.binary_thresh">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span4">{{ _('Enable illumination G-code') }}</div>
                                <div class="span7">
                                    <div class="input-append">
                                        <input type="text" class="input-xlarge" data-bind="value: settings.plugins.OctoPNP.camera.head.enable_LED_gcode">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span4">{{ _('Disable illumination G-code') }}</div>
                                <div class="span7">
                                    <div class="input-append">
                                        <input type="text" class="input-xlarge" data-bind="value: settings.plugins.OctoPNP.camera.head.disable_LED_gcode">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span4">{{ _('Image-path') }}</div>
                                <div class="span7">
                                    <div class="input-append">
                                        <input type="text" class="input-xlarge" data-bind="value: settings.plugins.OctoPNP.camera.head.path">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span4">{{ _('Grab-script-path') }}</div>
                                <div class="span7">
                                    <div class="input-append">
                                        <input type="text" class="input-xlarge" data-bind="value: settings.plugins.OctoPNP.camera.head.grab_script_path">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span11">If images can be directly fetched from camera via http (e.g. via mjpg_streamer), OctoPNP can provide a live preview during calibration. Works with static images only! (for mjpg_streamer: use snapshot mode! example: /webcam/?action=snapshot</div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span4">{{ _('http-path') }}</div>
                                <div class="span7">
                                    <div class="input-append">
                                        <input type="text" class="input-xlarge" data-bind="value: settings.plugins.OctoPNP.camera.head.http_path">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12"></div>
                    </div>

                    <div class="row-fluid">
                        <div class="span12"><strong>Bed camera</strong></div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span3">{{ _('Camera position') }}</div>
                                <div class="span1">{{ _('X') }}:</div>
                                <div class="span3">
                                    <div class="input-append">
                                        <input type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.camera.bed.x">
                                        <span class="add-on">mm</span>
                                    </div>
                                </div>
                                <div class="span1">{{ _('Y') }}:</div>
                                <div class="span3">
                                    <div class="input-append">
                                        <input type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.camera.bed.y">
                                        <span class="add-on">mm</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span4">{{ _('Focus distance') }}</div>
                                <div class="span4">
                                    <div class="input-append">
                                        <input type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.camera.bed.z">
                                        <span class="add-on">mm</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span4">{{ _('Focus axis') }}</div>
                                <div class="span4">
                                    <div class="input-append">
                                        <input type="text" class="input-mini" data-bind="value: settings.plugins.OctoPNP.camera.bed.focus_axis">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span3">{{ _('Pixel/MM') }}</div>
                                <div class="span1">{{ _('X') }}:</div>
                                <div class="span3">
                                    <div class="input-append">
                                        <input type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.camera.bed.pxPerMM.x">
                                    </div>
                                </div>
                                <div class="span1">{{ _('Y') }}:</div>
                                <div class="span3">
                                    <div class="input-append">
                                        <input type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.camera.bed.pxPerMM.y">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span4">{{ _('Binarization threshold') }}</div>
                                <div class="span7">
                                    <div class="input-append">
                                        <input type="number" step="1.0" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.camera.bed.binary_thresh">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span4">{{ _('Enable illumination G-code') }}</div>
                                <div class="span7">
                                    <div class="input-append">
                                        <input type="text" class="input-xlarge" data-bind="value: settings.plugins.OctoPNP.camera.bed.enable_LED_gcode">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span4">{{ _('Disable illumination G-code') }}</div>
                                <div class="span7">
                                    <div class="input-append">
                                        <input type="text" class="input-xlarge" data-bind="value: settings.plugins.OctoPNP.camera.bed.disable_LED_gcode">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span4">{{ _('Image-path') }}</div>
                                <div class="span7">
                                    <div class="input-append">
                                        <input type="text" class="input-xlarge" data-bind="value: settings.plugins.OctoPNP.camera.bed.path">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span4">{{ _('Grab-script-path') }}</div>
                                <div class="span7">
                                    <div class="input-append">
                                        <input type="text" class="input-xlarge" data-bind="value: settings.plugins.OctoPNP.camera.bed.grab_script_path">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <div class="row-fluid">
                                <div class="span1"></div>
                                <div class="span4">{{ _('http-path') }}</div>
                                <div class="span7">
                                    <div class="input-append">
                                        <input type="text" class="input-xlarge" data-bind="value: settings.plugins.OctoPNP.camera.bed.http_path">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Vacuum tool settings -->
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#nozzle-settings"><h4>{{ _('Vacuum Nozzle') }}</h4></a>
            </div>
            <div id="nozzle-settings" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="row-fluid">
                        <label class="control-label" for="vacnozzle.use_offsets">{{ _(' ') }}</label>
                        <input id="vacnozzle.use_offsets" type="checkbox" data-bind="checked: settings.plugins.OctoPNP.vacnozzle.use_offsets"> <span>Use OctoPNP offsets (if disabled, firmware offsets are used)</span>
                    </div>
                    <div class="row-fluid" data-bind="visible: settings.plugins.OctoPNP.vacnozzle.use_offsets">
                        <label class="control-label" for="vacnozzle.x">{{ _('X') }}</label>
                        <div class="controls">
                            <div class="input-append">
                                <input id="vacnozzle.x" type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.vacnozzle.x">
                                <span class="add-on">mm</span>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid" data-bind="visible: settings.plugins.OctoPNP.vacnozzle.use_offsets">
                        <label class="control-label" for="vacnozzle.y">{{ _('Y') }}</label>
                        <div class="controls">
                            <div class="input-append">
                                <input id="vacnozzle.y" type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.vacnozzle.y">
                                <span class="add-on">mm</span>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <label class="control-label" for="vacnozzle.y">{{ _('Z pressure offset') }}</label>
                        <div class="controls">
                            <div class="input-append">
                                <input id="vacnozzle.z_pressure" type="number" step="0.01" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.vacnozzle.z_pressure">
                                <span class="add-on">mm</span>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <label class="control-label" for="vacnozzle.tool_nr">{{ _('Tool number') }}</label>
                        <div class="controls">
                            <input id="vacnozzle.tool_nr" type="number" step="1" class="input-mini text-right" data-bind="value: settings.plugins.OctoPNP.vacnozzle.tool_nr">
                        </div>
                    </div>
                    <div class="row-fluid">
                        <label class="control-label" for="vacnozzle.grip_vacuum_gcode">{{ _('Grip vacuum G-code') }}</label>
                        <div class="controls">
                            <textarea rows="4" class="block" id="acnozzle.grip_vacuum_gcode" data-bind="value: settings.plugins.OctoPNP.vacnozzle.grip_vacuum_gcode"></textarea>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <label class="control-label" for="vacnozzle.release_vacuum_gcode">{{ _('Release vacuum G-code') }}</label>
                        <div class="controls">
                            <textarea rows="4" class="block" id="acnozzle.release_vacuum_gcode" data-bind="value: settings.plugins.OctoPNP.vacnozzle.release_vacuum_gcode"></textarea>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <label class="control-label" for="vacnozzle.lift_nozzle_gcode">{{ _('Lift vacuum-nozzle G-code') }}</label>
                        <div class="controls">
                            <textarea rows="4" class="block" id="acnozzle.lift_nozzle_gcode" data-bind="value: settings.plugins.OctoPNP.vacnozzle.lift_nozzle_gcode"></textarea>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <label class="control-label" for="vacnozzle.lower_nozzle_gcode">{{ _('Lower vacuum-nozzle G-code') }}</label>
                        <div class="controls">
                            <textarea rows="4" class="block" id="acnozzle.lower_nozzle_gcode" data-bind="value: settings.plugins.OctoPNP.vacnozzle.lower_nozzle_gcode"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Calibration -->
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#calibration"><h4>{{ _('Calibration') }}</h4></a>
            </div>
            <div id="calibration" class="accordion-body collapse">
                <div class="accordion-inner">
                    <div class="row-fluid">
                        <div>
                            <kbd data-bind="html: detectedFirmwareInfo"></kbd>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span8">
                            <div id="webcam_container" tabindex="0" data-bind="event: { keydown: onKeyDown, mouseover: onMouseOver, mouseout: onMouseOut, focus: onFocus }">
                                <canvas id="headCanvas" width="410" height="410"></canvas>

                                <div class="keycontrol_overlay" data-bind="visible: showKeycontrols">

                                    <div class="keycontrol_overlay_heading">{{ _("Keyboard controls active") }} <a href="#" data-bind="click: toggleKeycontrolHelp"><i data-bind="css: { 'icon-chevron-down': !keycontrolHelpActive(), 'icon-chevron-up': keycontrolHelpActive() }"></i></a></div>

                                    <div data-bind="visible: keycontrolHelpActive">
                                        <div class="keycontrol_overlay_column">
                                            <kbd>&rarr;</kbd> / <kbd>&larr;</kbd>: {{ _("X Axis") }} +/-<br>
                                            <kbd>&uarr;</kbd> / <kbd>&darr;</kbd>: {{ _("Y Axis") }} +/-<br>
                                        </div>
                                        <div class="keycontrol_overlay_column">
                                            <kbd>1</kbd>, <kbd>2</kbd>, <kbd>3</kbd>, <kbd>4</kbd>, <kbd>5</kbd>:: {{ _("Stepsize") }} 0.001, 0.1, 1, 10, 100mm
                                        </div>
                                    </div>
                                </div>
                                <div data-bind="visible: control.keycontrolPossible">
                                    <small class="muted">{{ _("Hint: If you move your mouse over the picture, you enter keyboard control mode.") }}</small>
                                </div>
                            </div>
                            <div>
                                <strong>Current X-correction: </strong><kbd data-bind="text: offsetCorrectionX"></kbd><br>
                                <strong>Current Y-correction: </strong><kbd data-bind="text: offsetCorrectionY"></kbd>
                            </div>
                        </div>
                        <div class="span4">
                            <h4>Ex <-> HeadCamera</h4>
                            <button data-bind="click: headCameraOffset, enable: isConnected">{{ _('Camera to object') }}</button><br>
                            <h6>Object pos. on printbed:</h6>
                            <div class="form-group">
                                <span>X&nbsp;</span><input id="objectPosX" type="number" step="0.01" class="input-mini text-right" data-bind="value: objectPositionX"></input>
                                <span>Y&nbsp;</span><input id="objectPosY" type="number" step="0.01" class="input-mini text-right" data-bind="value: objectPositionY"></input>
                            </div>
                            Tool E: <input type="number" step="1" class="input-mini text-right" data-bind="value: selectedHeadExtruder">
                            <button data-bind="click: saveHeadCameraOffset, enable: statusHeadCameraOffset">{{ _('Save camera offset') }}</button>
                            <button data-bind="click: saveExtruderHeadCameraOffset, enable: (statusHeadCameraOffset() && isSupportedFirmware() && (selectedHeadExtruder() >= 0))">{{ _('Save tool offset') }}</button>
                            <br><br>

                            <h4>Ex <-> BedCamera</h4>
                            <button data-bind="click: bedCameraPosition, enable: isConnected">{{ _('Extruder to Camera') }}</button><br>
                            Tool E: <input type="number" step="1" class="input-mini text-right" data-bind="value: selectedBedExtruder">
                            <button data-bind="click: saveBedCameraPosition, enable: statusBedCameraOffset">{{ _('Save camera offset') }}</button>
                            <button data-bind="click: saveExtruderBedCameraOffset, enable: (statusBedCameraOffset() && isSupportedFirmware() && (selectedBedExtruder() >= 0))">{{ _('Save tool offset') }}</button>
                            <br><br>

                            <div  data-bind="visible: settings.plugins.OctoPNP.vacnozzle.use_offsets">
                                <h4>BedCamera <-> PNPNozzle</h4>
                                <button data-bind="click: pnpNozzleOffset, enable: isConnected">{{ _('PNPNozzle to Camera') }}</button>
                                <button data-bind="click: savePnpNozzleOffset, enable: statusPnpNozzleOffset">{{ _('Save nozzle offset') }}</button>
                            </div>

                            <h4>Tray position</h4>
                            <button data-bind="click: function() { $root.trayPosition('TL') }, enable: isConnected">{{ _('TL') }}</button>
                            <button data-bind="click: function() { $root.trayPosition('TR') }, enable: isConnected">{{ _('TR') }}</button><br>
                            <button data-bind="click: trayPosition, enable: isConnected">{{ _('BL') }}</button>
                            <button data-bind="click: function() { $root.trayPosition('BR') }, enable: isConnected">{{ _('BR') }}</button>
                            <button data-bind="click: saveTrayPosition, enable: statusTrayPosition">{{ _('Save tray offset') }}</button>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
