<h1>{{ _('State') }}</h1>
<div class="row-fluid">
    <div class="span6">
        {{ _('PNP State') }}: <strong data-bind="text: stateString"></strong><br>
        {{ _('Current operation') }}: <strong data-bind="text: currentOperation"></strong><br>
        {{ _('DEBUG') }}: <strong data-bind="text: debugvar"></strong><br>
    </div>
</div>

<div  data-bind="visible: traySettings.type() == 'FEEDER'">
     <a href="javascript:void(0)" data-bind="click: toggleAssignComponentsDialog"><h1>{{ _('Component-Tray Assignments') }}</h1></a>
</div>
<div data-bind="visible: assignComponentsDialog() && (traySettings.type() == 'FEEDER')">
    <table id="feeder_assignment" class="table table-bordered table-hover" style="">
        <tbody><tr>
            <th>Component ID</th>
            <th>Name</th>
            <th>Tray Row</th>
            <th>Tray Col</th>
        </tr></tbody>
        <tbody>
            <!-- ko foreach: parts -->
            <tr>
                <td data-bind="text: $data.id, style: { color: $data.row < 0 ? 'red' : 'green' }"></td>
                <td data-bind="text: $data.name, style: { color: $data.row < 0 ? 'red' : 'green' }"></td>
                <td>
                    <select style="width: 100px" data-bind="value: $data.row, options: $root.trayfeeder_rows, optionsText: 'name', optionsValue: 'value', event: { change: $root.trayFeederChange }">
                    </select>
                </td>
                <td data-bind="text: $data.col"></td>
            </tr>
            <!-- /ko -->
        </tbody>
    </table>
</div>

<h1>{{ _('Tray') }}</h1>
<div class="row-fluid">
    <canvas id="trayCanvas" width="580" height="400"></canvas>
</div>

<div class="row-fluid">
    <div class="span6">
        <h1>Head camera</h1>
        <img src="" id="headCameraImage">
    </div>
    <div class="span6">
        <h1>Bed camera</h1>
        <img src="" id="bedCameraImage">
    </div>
</div>
